services:
  api:
    build: .
    env_file: .env.docker
    environment:
      - APP_ENV=docker
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8001:8000"
    restart: unless-stopped

volumes:
  postgres-data: {}